body {
  font-family: "Montserrat", sans-serif;
  color: #000;
  font-size: 16px;
}

img {
  width: 100%;
}

.font-joti {
  font-family: "Joti One", cursive;
}

.container {
  width: 80%;
  margin: 0 auto;
  padding: 0 24px;
}

.App {
  overflow: hidden;
}

.section-title {
  width: 350px;
  margin: -185px auto 0;
}

.header {
  padding: 20px 0;
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &-menu {
    display: flex;
    gap: 40px;
    font-size: 18px;
  }
  &-action {
    display: flex;
    align-items: center;
    gap: 80px;
    &-social {
      display: flex;
      align-items: center;
      gap: 30px;
    }
  }
}

.intro {
  background-color: #faab35;
  background-image: url("./assets/img/bg-main.svg");
  background-size: cover;
  padding: 50px 0;
  .container {
    display: flex;
    align-items: center;
    gap: 50px;
  }
  &-left {
    position: relative;
    width: 856px;
    flex-shrink: 0;
    h1 {
      position: absolute;
      top: 97px;
      left: 181px;
      color: #303030;
      font-size: 50px;
      font-weight: 900;
      line-height: 145.4%; /* 72.7px */
      letter-spacing: 5.75px;
      max-width: 444px;
    }
    p {
      position: absolute;
      top: 257px;
      left: 181px;
      max-width: 618px;
      color: #000;
      font-weight: 500;
      line-height: 145.4%;
      letter-spacing: 0.32px;
    }
  }
}

.vision {
  background-image: url("./assets/img/bg-vision.svg");
  background-size: cover;
  padding: 100px 0;
  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 100px;
  }
  &-right {
    display: flex;
    flex-direction: column;
    gap: 50px;
    max-width: 776px;
    &-item {
      p {
        margin-top: 10px;
        font-size: 18px;
        font-weight: 600;
        line-height: 158.9%;
      }
      &-1 {
        div {
          width: 175px;
        }
      }
      &-2 {
        div {
          width: 328px;
        }
      }
      &-3 {
        div {
          width: 385px;
        }
      }
    }
  }
}

.shibanomics {
  background-color: #faab35;
  background-image: url("./assets/img/bg-main.svg");
  background-size: cover;
  padding: 100px 0;
  &-price {
    display: flex;
    gap: 15px;
    &-icon {
      width: 82px;
    }
    p {
      display: flex;
      flex-direction: column;
      span {
        color: #fff;
        &:first-child {
          font-size: 30px;
          font-weight: 900;
          line-height: 145.4%; /* 43.62px */
          letter-spacing: 0.9px;
        }
        &:last-child {
          font-size: 50px;
          font-weight: 900;
          line-height: 145.4%; /* 72.7px */
          letter-spacing: 1.5px;
        }
      }
    }
  }
  &-info {
    margin-top: 24px;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    &-left {
      width: 70%;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      border-radius: 20px;
      background-color: #fff;
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
      li {
        text-align: center;
        font-size: 18px;
        font-weight: 900;
        line-height: 145.4%; /* 34.896px */
        letter-spacing: 0.72px;
        &:not(:last-child) {
          h3 {
            border-right: 1px dashed #000;
          }
          p {
            border-right: 1px dashed #000;
          }
        }
        h3 {
          padding: 22px 0;
          border-bottom: 1px dashed #000;
          color: #eba900;
        }
        p {
          padding: 80px 0;
        }
      }
    }
    &-right {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      li {
        display: flex;
        justify-content: space-between;
        gap: 50px;
        border-radius: 15px;
        background: #fff;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        padding: 20px;
      }
    }
  }
}
